/trabajo/JavaApplication16/nbproject/private/
/trabajo/JavaApplication16/build/
/trabajo/JavaApplication16/dist/
trabajo/codigo/.vs/codigo/FileContentIndex/3e0cb878-4b02-4cdf-a57c-0c3f713c704c.vsidx
trabajo/codigo/.vs/codigo/FileContentIndex/413db897-84fd-43ed-98cf-50df8f25d671.vsidx
trabajo/codigo/.vs/codigo/FileContentIndex/992b7d00-220d-41ff-8cf1-95af5f1865c8.vsidx
*.vsidx
*.vsidx
trabajo/codigo/.vs/codigo/FileContentIndex/413db897-84fd-43ed-98cf-50df8f25d671.vsidx
trabajo/codigo/.vs/codigo/FileContentIndex/cdd06c14-1811-4df3-b801-e90ceba4959e.vsidx
*.xml
*.iml
